.App {
  text-align: center;
}

.app-container {
  background: var(--background);
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.app-content-container {
  background: var(--background);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;
  overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
  .app-content-container {
    column-gap: 0;
  }
}
