.App {
    text-align: center;
}

.app-container {
    background: var(--background);
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.app-content-container{
    background: var(--background);
    height: auto;
    width: 100%; 
    display: inherit;
    flex-direction: row;
    justify-content: center;
    position: relative;
    column-gap: 1rem;
}

@media only screen and (max-width: 900px) {
    .app-content-container {
        column-gap: 0;
    }
}
