@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-black);
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}

.rodal-fade-enter {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

:root {
  --classes-light-green: #D0FFB4;
  --classes-salmon: #FFB4B4;
  --classes-light-blue: #B4EDFF;
  /* --classes-red: #E03524; */
  /* --classes-orange: #F07C12; */
  /* --classes-yellow: #FFC200; */
  /* --classes-light-green: #90BC1A; */
  /* --classes-green: #21B534; */
  /* --classes-light-blue: #0095AC; */
  /* --classes-blue: #1F64AD; */
  /* --classes-dark-blue: #4040A0; */
  /* --classes-purple: #903498; */
  --primary: #7EB77F;
  --primaty-dark: #5a865b;
  --text-black: #000;
  --text-white: #fffcfc;
  --grey-background: #444;
  --background: #fffcfc;
  --font: 'Inter', sans-serif;
  --faded-black: #66666689; 
}
