.wrapper {
  display: inline-flex;
  gap: 1rem;
  justify-content: space-around;
  border-radius: 2rem;
  border: solid 1px #F7FDF0;
  padding: 2%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  width: 70%;

  .calendarEventsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 0.3em;
  }

}
