.main-content-container{
    background: azure;
    max-width: 70%;
    min-width: 60%;
    flex-grow: 1;
}

@media only screen and (max-width: 900px) {
    .main-content-container {
        min-width: 70%;
        width: 70%;
    }
}