.main-content-container {
  background: var(--background);
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  max-width: 70%;
  min-width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .main-content-container {
    min-width: 70%;
    width: 70%;
    margin: 0.5rem;
    margin-right: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.25) 0px 5px 12px 0px;
  }
}
