.wrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(249 249 249);
  -webkit-box-shadow: 8px 6px 17px -3px rgba(0,0,0,0.15); 
  box-shadow: 8px 6px 17px -3px rgba(0,0,0,0.15);
  border-radius: 15px;
  min-height: 20px;
  font-weight: 200;
  width: 100%;

  .left {
    display: flex;
    flex-direction: column;
    padding: 0 0.2em;

    .day {
      text-align: center;
      font-size: 1.5rem;
    }
  }


  .vl {
    border-left: 3px solid black;
    min-height: 100%;
    border-color: #2084E7;
    margin: 0 0.8rem 0 0.5rem;
  }

  .right {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;

    .className {
      margin-right: 1rem;
    }
    
    .eventName {
      font-weight: 400;
    }

  }

  .plus {
    padding: 0;
    margin: 0;

  }
}

.selectable {
  cursor: pointer;
}

