.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 8px 6px 17px -3px rgba(0, 0, 0, 0.15);
  box-shadow: 8px 6px 17px -3px rgba(0, 0, 0, 0.15);

  .svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 31%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: -1;
  }

  .innerWrapper {
    padding: 5%;
    padding-top: 8%;
    width: 100%;

    .top {
      margin-bottom: 5%;
      height: 26%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h1 {
        font-weight: 400;
        font-size: 1.8rem;
        font-style: normal;
        margin-bottom: 0.3rem;
      }
      h2 {
        font-family: Inter;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        margin-bottom: 6px;
      }
    }

    .center {
      height: 55%;
      overflow-wrap: break-word;
      text-overflow: clip;
      overflow: hidden;
      h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2%;
      }

      // errors logs based on user; based on page; log everything?
      p {
        font-weight: 300;
      }
    }

    .botton {
      display: flex;
      justify-content: center;

      button {
        color: white;
        width: 50%;
        border: 0px;
        border-radius: 5px;
        background-color: var(--grey-background);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        margin: 5px;
        font-weight: bold;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
