.button-container {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@keyframes bubbleUp {
  from {
    border-radius: 8px;
    border-bottom-left-radius: 3rem;
  }

  50% {
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }

  to {
    border-radius: 8px;
    // position: fixed;
    // z-index: 100;
    height: 100%;
    width: 100%;
  }
}

.animationBubble {
  // animation-name: bubbleUp;
  // animation-direction: alternate;
}

.button {
  padding: 1rem;
  margin: 0;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: -5px 4px 12px 3px rgba(0, 0, 0, 0.07);
  position: relative;

  &:hover > h2 {
    text-overflow: unset;
    overflow: auto;
    white-space: pre-wrap;
  }

  .recent-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #666;
  }

  h2,
  h4 {
    font-weight: normal;
  }

  h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 400;
  }

  h4 {
    padding-top: 0.2rem;
  }

  .bubble {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    background: blue;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 100%;
    top: 0;
    right: 0;
  }
}
