.main-sidebar-container{
    background-color: azure;
    max-width: 20%;
    min-width: 15%;
    flex-grow: 1;
}

@media only screen and (max-width: 900px) {
    .main-sidebar-container {
        max-width: 30%;
        width: 30%;
    }
}