.main-sidebar-container {
  height: min-content;
  margin: 1rem;
  border-radius: 10px;
  max-width: 25%;
  height: min-content;

  .sidebar-section {
    background-color: var(--background);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    padding: .75rem;
    height: 100%;
    border-radius: 10px;

    .menu {
      display: flex;
      flex-direction: row;
      width: 100%;

      button {
        color: white;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        background-color: var(--primary);
        border: 1px;
        font-size: medium;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
      }
    }

    .groupchats {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .main-sidebar-container {
    padding: 0;
    max-width: 30%;
    width: 30%;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .main-sidebar-container {
    padding: 0;
    max-width: 30%;
    width: 30%;
    margin: 1rem;
  }
}