.course-entry-widget-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 20px;
    font-size: 500;
    margin-bottom: 1rem;
  }

  .entered-courses {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

}