.profileBar {
  background: var(--primary);
  color: var(--text-white);
  height: 100%;
  padding: 1.25rem;
  transition: right 0.2s;
  box-shadow: -3px 0px 8px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  align-self: center;
}

.changeProfileImg {
  width: 75px;
  height: 20px;
  border: none;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--primary);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 1%;
  font-size: small;
  font-weight: bold;
  margin-top: 3%;
  align-self: center;
  margin-bottom: 5%;
}

.logout {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--primary);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 1%;
  font-size: medium;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 5%;
  align-self: center;
}

/* TODO: change this image to svg */
.closeProfile {
  /* temp shadow to outline the white image in case of white bg */
  //box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 0px;
  outline: none;
  width: 25px;
  height: 25px;
  justify-self: flex-start;
  align-self: flex-start;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

.profileInfo {
  row-gap: 1rem;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}
