.profileBar {
  background: var(--primary);
  color: var(--text-white);
  height: 100%;
  padding: 1.25rem;
  transition: right 0.2s;
  box-shadow: -3px 0px 8px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

}

  .logout {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--background);
    color: var(--primary);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 1%;
    font-size: medium;
    font-weight: bold;
    justify-self: center;
    align-self: flex-end;
  }

  /* TODO: change this image to svg */
  .closeProfile {
    /* temp shadow to outline the white image in case of white bg */
    //box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0px;
    outline: none;
    width: 50px;
    height: 50px;
    justify-self: flex-start;
    align-self: flex-start;
  }

