:root {
    --text-color: black;
}

#profileBar {
    background-color: var(--green);
    background: white;
    color: var(--text-color);
    position: absolute;
    height: 100%;
    padding: 1.25rem;
    min-width: 300px;
    bottom: 0;
    width: 20%;
    right: -50%;
    transition: right 0.4s;
    transition-timing-function: ease-in-out;
    box-shadow: -3px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

form {
    display:flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

form input {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#username, #password {
    margin-bottom: 5%;
    padding: 3%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: azure;

}

#submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #80c974;
    color: white;
    padding: 1%;
}

#username,#password,#submit:focus {
    outline: none;
}

h1 {
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

/* TODO: change this image to svg */
#closeProfile{
    /* temp shadow to outline the white image in case of white bg */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}